/Code/importerjson/dist/
/Code/importerjson/build/
/Code/importerjson/export/
/Code/importerjson/nbproject/private/
/Code/importerjson/src/util/import.properties
/Scripts/env/
/Scripts/settings*.cfg
/Scripts/.hypothesis/
/Scripts/.monetdb
/Scripts/database-model.pdf
/Scripts/database-model.png
/Scripts/database-model.svg
/Scripts/group-*.pdf
/Scripts/document.mwb.xml
/Scripts/tables-documentation.json
/Scripts/tables-schema.json
mypy-report/
owasp-dep/
pylint-report.txt
data_vcsdev_to_dev.json
dist*.zip
