[monetdb]
hostname = $MONETDB_HOSTNAME
passphrase = $MONETDB_PASSPHRASE
username = $MONETDB_USERNAME
password = $MONETDB_PASSWORD
database = $MONETDB_DATABASE
[jenkins]
host = $JENKINS_HOST
job = $JENKINS_JOB
username = $JENKINS_USERNAME
token = $JENKINS_TOKEN
crumb = yes
[schema]
url = $SCHEMA_URL
doc = Database_structure.md
path = create-tables.sql
verify = $SCHEMA_VERIFY
username = $SCHEMA_USERNAME
password = $SCHEMA_PASSWORD
